.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

.layout__header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1;
  box-shadow: var(--shadow-bottom-default);
  background: var(--background-main);
}

.layout__header-container {
  width: 1280px;
  padding-block: 5px;
  margin: auto;
}

.layout__header-logo {
  margin-left: 12px;
  width: 48px;
  height: 50px;
}

.layout__content {
  display: flex;
  flex-grow: 1;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-block: 26px;
  font-family: 'Roboto', sans-serif;
}

.layout__footer {
  position: sticky;
  bottom: 0;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  padding-block: 20px;
  background: var(--background-main);
  box-shadow: var(--shadow-bottom-default);
}

.layout__footer-text {
  font-family: 'Karla', sans-serif;
}
