.characters-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.characters-page__welcome-image {
  width: 600px;
  height: 200px;
  margin-inline: auto;
  margin-bottom: 16px;
}

.characters-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 28px;
}
